@import "../../assets/styles/styles.scss";

.topup-container {
  .topup-body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $navbar-height - 60px); // all - navbar - cardMargin
    align-items: center;

    .topup-card-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      min-width: 350px;
      max-width: 1200px;
      padding-left: $navbar-padding;
      padding-right: $navbar-padding;
      margin: 30px;
      background-color: $secondary-color;

      .topup-header {
        width: 100%;
        text-align: center;
      }

      label {
        margin-bottom: 5px;
      }
      select,
      input {
        width: 50%;
        margin-bottom: 10px;
      }
    }

    .drag-over-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 80%;
      margin: 10px 10% 20px 10%;
      border-radius: 10px;
      border: 2px dashed $primary-color;
    }

    .topup-btn-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
