@import "../../assets/styles/styles.scss";

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  padding-left: $navbar-padding;
  padding-right: $navbar-padding;
  background-color: $secondary-color;
  box-shadow: $default-shadow;

  h2 {
    display: flex;
    align-items: center;
  }

  .logo {
    display: none;
    width: 40px;
  }

  .right-contentt {
    display: flex;
    align-items: center;
    //background-color: hsl(120, 100%, 50%);

    .btn-container {
      display: flex;
      align-items: center;

      p {
        display: flex;
        width: 100px;
        align-items: center;
        justify-content: center;
        height: $button-height;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 0.8rem;
        background-color: green;
      }

      button {
        font-size: 0.8rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .create-dataset-btn {
      margin-left: 20px;
      font-size: 0.9rem;
    }

    .create-dataset-btn-icon {
      display: none;
      margin-left: 20px;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 480px) {
    h2,
    .create-dataset-btn {
      display: none;
    }
    .logo,
    .right-content > .create-dataset-btn-icon {
      display: block;
    }
  }
}
