$primary-color: #004BBC; //#FFF2AF; //#D72323
$secondary-color: #ffffff; //#FFC979; //#F5EDED

$navbar-height: 60px;
$navbar-padding: 30px;
$button-height: 30px;

$default-shadow: 2px 2px 10px 1px
  rgba(
    $color: black,
    $alpha: 0.5,
  );

$card-width: 200px;
$card-height: 150px;

button {
  height: $button-height;
  border-radius: 5px;
  border-width: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: $primary-color;
  transition: transform 200ms ease;
  box-shadow: $default-shadow;
  transform: scale(1);
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}
